@font-face {
font-family: thegun;
src: url(../fonts/The_Gun.ttf);
}
@font-face {
font-family: password;
src: url(../fonts/SociaLAnimaL.ttf);
}
@font-face {
font-family: navigation;
src: url(../fonts/LaSpacinoLite-Regular.otf);
}
@font-face {
font-family: sfg;
src: url(../fonts/SilverForteGrunge.ttf);
}
@font-face {
font-family: rootbear;
src: url(../fonts/rootbear.otf);
}
@font-face {
font-family: calibri;
src: url(../fonts/calibri.ttf);
}
@font-face {
font-family: calibriB;
src: url(../fonts/calibrib.ttf);
}
html {
  box-sizing: border-box;
}
body{
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: auto;
}
#Main_Container{
  position: absolute;
  width: 100%;
  height: 100%;
}
#nav_container{
	position: fixed;
	display: block;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 51;
}
#navigation{
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #efefef;
  font-size: 25px;
  font-family: navigation;
  height: auto;
  width: 100%;
  z-index: 51;
}
#navigation a:link {
color: #efefef;
padding-left: 25px;
padding-right: 25px;
font-family: navigation;
text-decoration: none;
font-size: 35px;
}
#navigation a:visited{
color: #efefef;
font-family: navigation;
text-decoration: none;
}
#navigation a:hover {
text-shadow: 1px 1px 3px #989898;
font-family: navigation;
color: #fff;
text-decoration: none;
}
#navigation a:active {
color: #efefef;
font-family: navigation;
text-decoration: underlnine;
}
.naviLink{
	padding: 0px 10px 10px 10px;
}

#logo{
	position: relative;
	display: block;
	background: url(../images/banner_logo.png) no-repeat center center;
	height: 117px;
	width: 100%;
	z-index: 51;
}
#content{
	display: inline-block;
	margin: 200px auto;
	padding: 20px 10px 0px 10px;
	width: 98%;
	z-index: 50;
	text-align: center;
}
#login-page-4 {
	position:absolute;
	background-image: url(../images/login-page_4.jpg);
	left:10%;
	top:200px;
	width:300px;
	height:59px;
}
#login-page-6 {
	position:absolute;
	background-image: url(../images/login-page_6.jpg);
	left:10%;
	top:259;
	width:300px;
	height:59px;
}
#login-page-7 {
	position:absolute;
	left:10%;
	top:318;
	width:300px;
	height:39px;
}
#generic_container {
	margin: 0px auto;
	width: 80%;
	height: 96%;
	border-radius: 5px;
	display: inline-block;
	top: 0px;
	left: 0px;
	padding-bottom: 25px;
	background-color: rgba(255, 255, 255, 0.90);
	border: 1px solid #000;
	border-radius: 3px;
	overflow: auto;
}

.mapIcon{
	position: relative;
	cursor: pointer;
	font-family: calibriB;
	font-size: 18px;
	color: #000;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.mapIcon:hover{
	color: #3a84df;
}

.small_linkW {
color: #efefef;
padding: 4px;
font-family: rootbear;
text-decoration: none;
font-size: 15px;
}
.small_linkW:link {
color: #efefef;
padding: 4px;
text-decoration: none;
font-size: 15px;
}
.small_linkW:visited{
color: #efefef;
}
.small_linkW:hover {
text-shadow: 1px 1px 3px #989898;
color: #fff;
}
.small_linkW:active {
color: #efefef;
text-decoration: underlnine;
}
.small_linkD {
color: #555F61;
padding: 4px;
font-family: rootbear;
text-decoration: none;
font-size: 15px;
}
.small_linkD:link {
color: #555F61;
padding: 4px;
text-decoration: none;
font-size: 15px;
}
.small_linkD:visited{
color: #555F61;
}
.small_linkD:hover {
text-shadow: 1px 1px 3px #989898;
color: #A7B0B2;
}
.small_linkD:active {
color: #A7B0B2;
text-decoration: underlnine;
}
