#cs_container{
  position: relative;
  width: 300px;
  top: 0px;
  left: 50px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.60);
  border: 1px solid #000;
}
.ic_container{
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 150px;
  border: 1px solid #000;
  margin: 25px auto 0px auto;
  -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
  z-index: 60;
}
.ic_container_driving{
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 150px;
  border: 2px solid #79c11b;
  margin: 25px auto 0px auto;
  -moz-box-shadow: 3px 5px 5px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
  z-index: 60;
}
.ic_container img, .ic_container_driving img{
  opacity: 0.90;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  z-index: 65;
}
.ic_container driving, .ic_container_driving driving{
  position: absolute;
  top: 18px;
  right: 18px;
  font-family: sfg;
  font-size: 12px;
  color: #79c11b;
}
.select_highlight{
  position: absolute;
  width: 310px;
  height: 180px;
  background-color: #fff;
  z-index: 55;
  margin: 13px 0px;
}
#cd_container{
  top: 215px;
  position: fixed;
  float: right;
  left: 375px;
  width: 1520px;
  background-color: rgba(255, 255, 255,.95);
  border: 1px solid #000;
  height: 730px;
  z-index: 50;
}
#car_container{
  width: 410px;
  height: 200px;
  margin: 100px 0px 0px 40px;
}
